.buttonSubmit{

    background-color: #355691;
    color: whitesmoke;
    
    }


.navLinks{


color: whitesmoke;

}

.navLinks:hover{

opacity: 60%;
color: black;

}

.navBar{

background-color: #63A375;

}