#root {
    background-image: url(/background.jpg);
    /* background-position: 200px 60px; */
    background-size: 900px; 
    background-repeat: repeat;
    height: auto;
}


/* .bgContainer {
    background-image: url(/background.jpg);
    background-size: 900px;
    background-repeat: repeat;
    height: auto;
} */

.quick-search {
        position: absolute;
        background-image: url("/background.jpg");
        background-origin: border-box;
        background-size: 900px;
        background-position: center;
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -100;
        opacity: 100%;
    }
    

.homeBg {
    position: absolute;
    background-image: url("/background.jpg");
    background-origin: border-box;
    background-size: 900px;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
    opacity: 100%;
}


.buttonSubmit{

    background-color: #355691;
    color: whitesmoke;
    
    }
.buttonSubmit2{

    background-color: #DBAD6A;
    color: whitesmoke;
    
    }
.logoutButton{

    color: whitesmoke;
    opacity: 80%;
    
    }

.quickButtons:hover{

    opacity: 80%;

}


.navLinks{


color: whitesmoke;

}

.navLinks2{


color: #84ACCE;

}

.navLinks:hover{

opacity: 60%;
transition: color 0.5s;
color: black;

}

.navBar{

background-color: #63A375;

}

.navBar2{

background-color: #63A375;

}

.foodImage{

width: 30%;
height: 30%;
margin-top: 20px;
padding: 15px;

}